footer[role="contentinfo"]
    background-color: $gray-200
    background-image: url('/assets/images/shape.svg')
    background-position: top left
    background-repeat: no-repeat
    padding-bottom: map-get($spacers, 5)
    padding-top: map-get($spacers, 5)
    img
        filter: invert(1)

    .content
        margin-bottom: 0

    .nav--legal
        .nav-item
            margin-right: 0

    .nav
        flex-direction: column
        &:first-child
            margin-bottom: map-get($spacers, 4)

        @include media-breakpoint-up(md)
            align-items: flex-end
