footer[role="contentinfo"]
    background-color: $gray-200
    background-image: url('/assets/images/shape.svg')
    background-position: top left
    background-repeat: no-repeat
    padding-bottom: map-get($spacers, 5)
    padding-top: map-get($spacers, 5)

    .logo
        img
            height: 45px
            width: auto
        & + p
            @extend .small
            margin-top: map-get($spacers, 2)

    .content
        margin-bottom: 0
        > div:last-child
            @extend .col-md-8

    nav
        ul
            flex-direction: column
            @include media-breakpoint-up(md)
                align-items: flex-end
        .nav-legal,
        .nav-social
            flex-direction: column
            li
                margin-right: 0
            a
                font-size: px2rem(12)
        &:first-child
            margin-bottom: map-get($spacers, 4)
