header[role="banner"]
    .navbar
        @include media-breakpoint-up(md)
            align-items: flex-start
            padding-bottom: 0
            padding-top: px2rem(40)
            & > .container
                align-items: flex-start
    .logo
        img
            height: 44px
            width: auto
            @include media-breakpoint-up(md)
                height: 64px
