$body-font-family: "basier_circle", sans-serif
$heading-font-family: $body-font-family

// MAIN COLORS
$color-accent: #0038FF
$color-border: rgba(0, 0, 0, 0.30)
$color-background-alt: #F2F2F2

$h1-weight: normal
$hero-background-color: transparent

$header-background:  transparent
$header-border-bottom-width: 0px
$header-logo-height-desktop: 64px
$header-logo-height: 44px

$footer-background-color: #e9ecef