body
    background-image: url('/assets/images/shape.svg')
    background-position: top right
    background-repeat: no-repeat
.hero
    padding-bottom: 0
.breadcrumb-nav
    display: none
.volumes__term
    .document-aside
        display: none
footer#document-footer
    background-image: url('/assets/images/shape.svg')
    background-position: top left
    background-repeat: no-repeat
    .footer-links
        @include small
        a
            text-decoration-color: $color-border
        > * + * 
            margin-top: $spacing3
    .footer-credit
        @include meta
    @include media-breakpoint-up(desktop)
        .footer-links
            text-align: right
