body
    background-image: url('/assets/images/shape.svg')
    background-position: top right
    background-repeat: no-repeat

.hero
    padding-bottom: 0

.breadcrumb-nav
    display: none

.toc ol .active
    color: inherit
    &::before
        content: ''
        display: inline-block
        background: var(--color-accent)
        vertical-align: middle
        width: 10px
        height: 10px
        margin-right: 10px

.volumes__term
    .document-aside
        display: none
    @include media-breakpoint-up(desktop)
        .hero
            min-height: 0
            figure
                position: relative
                img
                    position: absolute

footer#document-footer
    background-image: url('/assets/images/shape.svg')
    background-position: top left
    background-repeat: no-repeat
    .footer-links
        @include small
        a
            text-decoration-color: $color-border
        > * + * 
            margin-top: $spacing-5
    .footer-credit
        @include meta
    @include media-breakpoint-up(desktop)
        .footer-links
            text-align: right
