body
    background-image: url('/assets/images/shape.svg')
    background-position: top right
    background-repeat: no-repeat


footer#document-footer
    background-image: url('/assets/images/shape.svg')
    background-position: top left
    background-repeat: no-repeat