<footer role="contentinfo">
  <div class="container">
    <div class="content">
      <div>
        {{ with site.Data.journal }}
          <div itemscope itemtype="https://schema.org/Periodical">
            <meta itemprop="name" content="{{ .name }}">
            {{ partial "footer/logo.html" }}
            <p class="mt-2 small">ISSN: <span itemprop="issn">{{ trim .issn "\n" }}</span></p>
          </div>
        {{ end }}
      </div>
      <div>
        {{ partial "commons/menu.html"
              (dict
                "items"       site.Data.menus.primary
                "level"       1
                "class"       "nav nav--primary"
              )}}
        {{ partial "commons/menu.html"
              (dict
                "items"       site.Data.menus.legal
                "level"       1
                "class"       "nav nav--legal"
              )}}
      </div>
    </div>
  </div>
</footer>
