<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4">
        {{ with site.Data.journal }}
          <div itemscope itemtype="https://schema.org/Periodical">
            <meta itemprop="name" content="{{ .name }}">
            <a href="/"><img src="{{ site.Data.website.logo }}" alt="{{ .name }}" width="140" height="45" itemprop="image"></a>
            <p class="mt-2 small">ISSN: <span itemprop="issn">{{ .issn }}</span></p>
          </div>
        {{ end }}
      </div>
      <div class="col-md-6">
        {{ partial "commons/menu.html"
              (dict
                "items"       site.Data.menus.primary
                "level"       1
                "class"       "nav nav--primary"
              )}}
        {{ partial "commons/menu.html"
              (dict
                "items"       site.Data.menus.legal
                "level"       1
                "class"       "nav nav--legal"
              )}}
      </div>
    </div>
  </div>
</footer>
