@media (prefers-color-scheme: dark)
    ::selection
        background: rgba(white, .5)
        color: black

    ::-moz-selection
        background: rgba(white, .5)
        color: black

    body
        background-color: black
        color: white

    a,
    .nav-link
        color: white
        text-decoration-color: rgba(white, 0.6)
        &:hover,
        &:focus
            color: white

    a:hover
        text-decoration-color: white

    .hero,
    .hero .breadcrumb a
        color: white

    .hero .breadcrumb a
        text-decoration-color: rgba(white, .3)
        &:hover
            text-decoration-color: white

    .breadcrumb
        &-item+.breadcrumb-item:before
            color: white
        &-item.active
            color: rgba(white, .8)

    .logo
        img
            filter: invert(1)

    .avatar,
    .card-media
        background-color: $dark

    header[role="banner"]
        nav[role=navigation]
            button[type="button"]
                color: white

    footer[role="contentinfo"]
        background-color: $dark
        .nav
            a
                color: white
                text-decoration-color: transparent
