{{ define "main" }}
  {{ $slug := .Slug }}
  {{ $programsForTeacher := slice }}
  {{ if isset site.Taxonomies "teachers" }}
    {{ $programsForTeacher = index site.Taxonomies.teachers $slug}}
  {{ end }}
  {{ $programsForAdministrator := slice }}
  {{ if isset site.Taxonomies "administrators" }}
    {{ $programsForAdministrator = index site.Taxonomies.administrators $slug}}
  {{ end }}
  {{ $programsForTeacherAndAdministrator := union $programsForTeacher $programsForAdministrator }}
  {{ $articlesForResearcher := slice }}
  {{ if isset site.Taxonomies "researchers" }}
    {{ $articlesForResearcher = index site.Taxonomies.researchers $slug}}
  {{ end }}
  {{ $author := site.GetPage (printf "/authors/%s" $slug) }}
  <header class="hero">
    <div class="container">
      <div class="title-avatar">
        <h1>{{ safeHTML (partial "CorrectPunctuation" .Title) }}</h1>
        <div>
          {{ if .Params.image }}
            <div class="avatar">
              {{ partial "commons/image.html"
                    (dict
                      "alt"    .Title
                      "image"    .Params.image
                      "class"    "img-fluid"
                      "mobile"   "202x202"
                      "tablet"   "192x192"
                      "desktop"  "196x196"
                    )}}
            </div>
          {{ end }}
        </div>
      </div>
      {{ partial "header/breadcrumbs.html" (dict "context" .) }}
    </div>
  </header>
  <div class="container">
    <div class="content">
      <div>
        {{ if .Content }}
          <p>
            {{ safeHTML (partial "CorrectPunctuation" .Content) }}
          </p>
        {{ end }}
      </div>
      <div>
        {{ if $articlesForResearcher }}
            {{ range $articlesForResearcher }}
                {{ partial "articles/article.html" . }}
            {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
